.about {
    position: relative;
}
.about-block {
    margin-bottom: 3.5rem;
    display: flex;
}
.about-block:nth-child(2),
.about-block:nth-child(3){
    margin-bottom: 10rem;
}

.about-block:nth-child(2) .about-block__img{
   left: 0;
}
.about-block:nth-child(2) .about-block__content{
    margin-left: auto;
}
.about-block__content {
    width: 60%;
}
.about-block__content-title {
    margin-bottom: 24px;
    font-size: 4.8rem;
    line-height: 1.2;
    font-weight: 600;
}
.about-block__content-text {
    margin-bottom: 24px;
}
.about-block__img {
    width: 40%;
    position: absolute;
    right: 0;
}
.about-block__info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.about-block__item {
    width: calc(100% / 2 - 20px);
    display: flex;
    gap: 15px;
    align-items: center;
}
.about-block__item-img {
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: rgba(53, 174, 93, 0.1);
}
.about-block__item-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-block__desc-title {
    font-weight: 700;
}
.about-block__desc-text {
    font-size: 14px;
}