.delivery {
}
.container {
}
.delivery__title {
    margin-bottom: 16px;
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 500;
}
.delivery__text {
    margin-bottom: 20px;
}
.delivery-block {
    padding-top: 40px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.delivery-block__content,
.delivery-block__img  {
    width: 50%;
}
.delivery-block__list {
    margin-left: 20px;
}
.delivery-block__list-item {
    margin-bottom: 10px;
    list-style: disc;
}

.delivery-block__img {
}