.nav-icon{
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
    border-radius: 50%;
    z-index: 8;
}
.nav-icon__middle{
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #000;
}
.nav-icon__middle::before,
.nav-icon__middle::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #000;
}
.nav-icon__middle::before{
    top: 8px;
    transition: all .2s ease-in;
}
.nav-icon__middle::after{
    bottom: 8px;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle{
    background-color: transparent;
    transition: all .2s ease-in;
}
.nav-icon.nav-icon--active .nav-icon__middle::before{
    transform: rotate(45deg);
    top: 0;
    transition: all .2s ease-in;
   
}
.nav-icon.nav-icon--active .nav-icon__middle::after{
    transform: rotate(-45deg);
    bottom: 0;
    transition: all .2s ease-in; 
}

.box-mobile .logo,
.box-mobile .header-bottom__info-basket{
    display: none;
}


@media(max-width: 1050px){
    .menu__list{
        justify-content: space-between;
        gap: 20px;
    }
}
@media(max-width: 720px){
    .nav-icon{
        position: relative;
        display: block;
        z-index: 8;
        
    }
    .menu{
        position: fixed;
        width: 100%;
        // height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        // background: rgb(220, 220, 220);
        background: #fff;
        right: 0;
        top: 0;
        color: #F7F7FF;
        z-index: 2;
        border-radius: 0px;
        transform: translateX(200%);
        transition: all .5s ease-in;
    }
    
    
    .menu,
    .menu__list{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
  
    .menu li a{
        margin-bottom: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #414042;
    }
    .menu li{
        margin-bottom: 10px;
    }
    .menu.nav--active{
        transform: translateX(0%);
        transition: all .5s ease-in;
        margin-left: 0;
    }
    .header-top{
        padding: 1.2rem 0;
        background-color: #fff;
    }
    .header-bottom{
        display: none;
    }
    .box-mobile .logo{
        display: block;
        width: 130px;
    }
    .box-mobile .header-bottom__info-basket{
        display: block;

    }
    .box-mobile,
    .box-mobile__right{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .box-mobile__right{
        position: relative;
        gap: 15px;
        transform: translateY(10px);
        z-index: 3;
    }
    .header-bottom__info-img{
        width: 30px;
    }
    .header-top .menu.nav--active .header-bottom__info-basket{
        display: none;
    }
}