.breadcrumbs {
    padding: 30px 0;
}
.breadcrumbs__list {
    display: flex;
    gap: 20px;
}
.breadcrumbs__list li a{
    font-size: 14px;
}
.breadcrumbs__list li{
    position: relative;
}
.breadcrumbs__list li:last-child{
    font-weight: 500;
    color: #35ae5d;
}
.breadcrumbs__list li::after{
    position: absolute;
    content: '';
    width: 7px;
    height: 20px;
    right:  -15px;
    top: 4px;
    background: url('../images/news/breadcrumb-line.png') no-repeat;
}
.breadcrumbs__list li:last-child::after{
    display: none;
}
.sort-block {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort-block__left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.sort-block__left-name {
    font-weight: 600;
}
.sort-block__select {
    padding: 10px 24px;
    color: #4d4d4d;
    font-weight: 600;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    cursor: pointer;
}
.sort-block__right-rezult {
    color: #414042;
}
.sort-block__right-rezult span{
    font-weight: 600;
}
.news-block {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}
.news-block__item {
    width: calc(100% / 3 - 24px);
    border: 1px solid #d9d9d9;
    border-radius: 16px;
}
.news-block__wrapper{
    padding: 24px;
}
.news-block__item-img img{
    width: 415px;
    height: 316px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.news-block__item-img{
    position: relative;
}
.news-block__item-date {
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 4px;
    padding: 6px 15px 10px 15px;
    width: 58px;
    height: 58px;
    background: rgba(255, 255, 255, 0.85);
    text-align: center;
    color: #414042;
    font-weight: 500;
}
.news-block__item-date span{
    font-weight: 400;
}
.news-block__item-admin {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #808080;
}
.news-block__item-admin::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: -25px;
    top: 0;
    background: url('../images/news/admin.svg') no-repeat;
}
.news-block__item-title {
    margin-bottom: 20px;
    font-weight: 600;
}
.news-block__item-link {
    font-weight: 500;
    color: #35ae5d;
}
.news-block__item-link:hover{
    color: #ffa532;
}
.pagination-news {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.pagination__news-arrow--left,
.pagination__news-arrow--right {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background-color: #fff;
    transition: all .4s ease-in;
    cursor: pointer;
}
.pagination__news-arrow--left::before,
.pagination__news-arrow--right::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.pagination__news-arrow--right::before{
    background: url('../images/news/pagination-arrow-right.svg') no-repeat;
    
}
.pagination__news-arrow--left::before{
    background: url('../images/news/pagination-arrow-left.svg') no-repeat;
}
.pagination__news-arrow--left:hover,
.pagination__news-arrow--right:hover{
   background: #f2f2f2;
   transition: all .4s ease-in;
}
.pagination__nesw-list {
    display: flex;
    gap: 15px;
    align-items: center;
    color: #666;
}
.pagination__nesw-list li{
    width: 40px;
    height: 40px;
   
}
.pagination__nesw-list li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.pagination__news-active {
    color: #fff;
    background-color: #35ae5d;
    border-radius: 8px;
}